.sidebare-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px !important;
    position: fixed !important;
    min-height:100vh !important
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex; 
    gap: 10px;
    align-items: flex-start;
    justify-content: start;

}
.link:hover .icon-nav {
    color: gray !important;
}
.link:hover {
    color: gray !important;
}
.logo{
    font-size: 25px;
    margin: 15px 0;
    color: yellow;
}

.active{
    color: tomato;
}


